%div#mosaic-container
  %div#header
    %script{:type=>"text/javascript", :src=>"http://nav.occupy.net/occupynet_nav.js"}
    %h1 #Occupy
    %h1{:style=>"color:#fc3"}Mosaic
    %div{:style=>"float:right"}
      %a{:href=>"/about"}About
    
  %div#display-controls
    %div.buttons
      %div.label
        Show:
      %div.optionset{:dataOptionkey=>'filter'}
        %div.button{:dataOptionValue=>'*'}
          All
        %div.button{:dataOptionValue=>'.active'}
          Active
        %div.button{:dataOptionValue=>'.archived'}
          Archived
      %div.label
        Sort:
      %div.optionset{:dataOptionKey=>'sortBy'}
        %div.button{:dataOptionValue=>'date'}
          Date
        %div.button{:dataOptionValue=>'alphabetical'}
          Name
        %div.button{:dataOptionValue=>'activity'}
          Activity
  %br{:clear=>'all'}
  %div#mosaic.campaigns
    - @campaigns.each do |campaign|
      %div{:class=>'campaign '+((campaign.end_timestamp > Time.now.to_i) ? 'active' : 'archived')}
        %div.date{:style=>'display:none'}
          = campaign.start_timestamp
        %div.name
          %a{:href=>campaign.slug} 
            = campaign.name
        %div.photo
          -if campaign.terms.size > 0
            %div.terms.clearoverlay
              - campaign.terms.each do |term|
                %div.term
                  = term.term
          -if campaign.cover_image.to_s.length > 1
            %a{:href=>campaign.slug}
              %img{:src=>campaign.cover_image}
          
        %div.description
          = campaign.description
          %div.numImages{:style=>'display:none'}
            =campaign.media_count
          %div.count  
            %a{:href=>campaign.slug}
              = campaign.media_count.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse
              Images

          
%div{:style=>'display:none'}
  highlight active / inactive campaigns - isotope buttons to order by name, oldest, newest, active, archive, size
  >>>>better activity sorting - most updates in past month, week day hour
  social sharing header.  - facebook, twitter, iframe
  >>>>fb, twitter
  
  a better way to remove dupes
  >>>>group by media_url
  new about page copy
  DONEremove redundant controller urls
  remove batch routines
  mini-mosaic for embedding
  DONE don't do mm.save in crawler - do driver-level updates 
  DONE         crawl everything, so we can mine it later
  free-university bug when loading page 2
  add slug to the beginning of edit link so we know what link they are
  >>on-hover should always be clickable for frontpage images
  sync campaign.name and campaign.page_title
  build an aggregate media collection
  aafor each campaign
  aaaascoop all media links
  aaaaupsert by media_url
  aaaaaaincrement count of each insert, plus retweet score
  aaaaaaCM id in an array in aggregate media
  aaaaaacampaign id in aggregate media
  date range on campaign edit
  year first on dates
      